{%extends "base.html.jinja"%}
{%set title = "Cards"%}
{%set active_page = "cards"%}
{% block content %}
    <h1>Welcome to the Cards Page</h1>
    <p>This is the cards page content.</p>
{% endblock %}