{%extends "base.html.jinja"%}
{%set title = "Decks"%}
{%set active_page = "decks"%}
{% block content %}
    <h1>Welcome to the Decks Page</h1>
    <p>This is the decks page content.</p>
{% endblock %}